// Your application styles go here
.center {
    top: 30%;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.result {
	text-align: center
}